@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	scroll-behavior: smooth;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.underline-h {
	background-color: rgb(236, 72, 153);
	height: 2px;
	margin-top: 0;
	transition: all 0.3s ease-in-out;
}

.font-sigmarone {
	font-family: 'Sigmar One', cursive;
}

.bgr-dark {
	background-image: linear-gradient(to right bottom, #bca5ae, #a18b93, #87717a, #6d5861, #554149);
}

.bgr-light {
	background-image: linear-gradient(to right bottom, #ddd7c6, #ebddd2, #f5e4e0, #fbedee, #fff6fb);
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
